In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('../Resources/diagnosis-of-covid-19-and-its-clinical-spectrum.csv')
dataset.tail()

,patient_id,patient_age_quantile,sars_cov_2_exam_result,patient_addmited_to_regular_ward_1_yes_0_no,patient_addmited_to_semi_intensive_unit_1_yes_0_no,patient_addmited_to_intensive_care_unit_1_yes_0_no,hematocrit,hemoglobin,platelets,mean_platelet_volume,...,hb_saturation_arterial_blood_gases,pco2_arterial_blood_gas_analysis,base_excess_arterial_blood_gas_analysis,ph_arterial_blood_gas_analysis,total_co2_arterial_blood_gas_analysis,hco3_arterial_blood_gas_analysis,po2_arterial_blood_gas_analysis,arteiral_fio2,phosphor,cto2_arterial_blood_gas_analysis
5639,ae66feb9e4dc3a0,3,positive,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5640,517c2834024f3ea,17,negative,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5641,5c57d6037fe266d,4,negative,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,c20c44766f28291,10,negative,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,f,f,f,0.694287,0.541564,-0.906829,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
dataset_new = dataset[['patient_id','patient_age_quantile','sars_cov_2_exam_result','leukocytes', 'platelets', 'monocytes', 'hematocrit', 'eosinophils', 'red_blood_cells', 'hemoglobin', 'lymphocytes', 'mean_platelet_volume']].copy()
dataset_new.head()

,patient_id,patient_age_quantile,sars_cov_2_exam_result,leukocytes,platelets,monocytes,hematocrit,eosinophils,red_blood_cells,hemoglobin,lymphocytes,mean_platelet_volume
0,44477f75e8169d2,13,negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,-0.09461,-0.517413,0.357547,0.236515,1.482158,0.102004,-0.02234,0.318366,0.010677
2,a46b4402a0e5696,8,negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
print(len(dataset_new.index))

5644

In [13]:
dataset_new_filtered = dataset_new[dataset_new['sars_cov_2_exam_result'] == 'positive']
dataset_new_filtered.head(20)

,patient_id,patient_age_quantile,sars_cov_2_exam_result,leukocytes,platelets,monocytes,hematocrit,eosinophils,red_blood_cells,hemoglobin,lymphocytes,mean_platelet_volume
67,78511c183ae18bc,7,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,d7834ed75f2da44,16,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
513,b16b49f7bd3e692,10,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,4382f5ea05e60c4,2,positive,-0.420197,-0.341548,1.933339,0.991838,-0.498393,1.653476,0.792188,-0.048383,1.469188
676,d3729cd2658ca64,15,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
884,ab9745da9d139b9,15,positive,-0.820919,-0.718402,-0.456613,-0.495919,-0.666950,-0.567950,-0.398276,-0.935404,-0.438097
1011,a0435dd40e745fd,7,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1108,9d7c293a6773d6a,14,positive,-0.968407,-0.027502,1.513128,-0.312811,0.175837,-0.656101,-0.648900,-0.099557,-0.101517
1113,ff5ec3abd7d6088,5,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1129,7b1d6bf5993aa9b,9,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1156,1e7e33688edc5a9,11,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1162,2a5db9bbb45109f,14,positive,-0.573250,-0.215930,2.537393,-0.518807,-0.709090,-0.515058,-0.272964,-0.457777,0.459449
1168,3fc734fd9bafbd6,18,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1193,057e8ce3c6f2f31,14,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1194,f0ee30f04652697,11,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1196,8fac8033edbd319,13,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1201,219ad2543c93936,14,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1205,ff34f2c79fc6cf0,7,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1232,fbec53bbe8c576a,6,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1268,66d288d2a12ca60,14,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN